*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
/.gradle/
/.idea/
/gradlew
/gradlew.bat
/gradle/
*.apk
*.aab
/app/debug
/app/release
